version: '3.8'

services:
  # Database Service
  mongo:
    image: mongo:6
    container_name: mongodb
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  # Backend API Service
  backend:
    image: tanishkav/mean-backend:latest
    container_name: backend
    restart: always
    environment:
      MONGO_URI: mongodb://mongo:27017/discover-dollar
    depends_on:
      - mongo
    networks:
      - app-network

  # Frontend Web Service
  frontend:
    image: tanishkav/mean-frontend:latest
    container_name: frontend
    restart: always
    depends_on:
      - backend
    networks:
      - app-network

  # Nginx Reverse Proxy
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      # Mapping the config from your nginx directory to the container
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge