services:
  frontend:
    image: tanishkav/mean-frontend:latest
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    image: tanishkav/mean-backend:latest
    restart: always
    ports:
      - "5000:8080"
    depends_on:
      - mongo
    environment:
      - DB_HOST=mongo

  mongo:
    image: mongo:6
    restart: always
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
